#admin {
  .title {
    text-transform: uppercase;
    font-family: var(--albas-font);
    text-shadow: 0 0 15px var(--accent-color), 0 0 20px var(--accent-color);
    transition: ease-in-out font-size .5s;
  }

  .title::before {
    content: attr(content);
    position: absolute;
    font-family: var(--albas-filled-font);
    color: rgba(var(--accent-color-rgb), 0.6);
    z-index: -1;
  }

  .title {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: 640px) {
    .title {
      font-size: 30px;
      line-height: 40px;
    }
  }

  .card-container {
    background-color: var(--main-color);
    box-shadow: 0 0 15px var(--accent-color), 0 0 20px var(--accent-color);
  }

  table {
    border-color: rgb(var(--main-color-opposite-rgb) / var(--tw-divide-opacity));
  }

  thead {
    background-color: var(--main-color-variant);
  }

  tbody {
    background-color: var(--main-color);
    border-color: rgb(var(--main-color-opposite-rgb) / var(--tw-divide-opacity));

    a {
      transition: color ease-in-out .3s;
    }
  }

  .mod-link {
    color: var(--accent-color);

    &:hover {
      color: var(--accent-color-variant);
    }
  }

  .main-field-label {
    width: 100%;
    text-align: center;
    font-size: 20px;
    text-shadow: 0 0 15px var(--accent-color), 0 0 20px var(--accent-color);

    &:hover {
      color: var(--text-color)
    }
  }
}